body {
	font-family: 'Open Sans', sans-serif;
}

/*NAVBAR*/
.navbarspacey{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;
	padding: 20px 15px;
	background-color: #f1f3f4;
	font-size: 18px;
	position: fixed;
	width: 100%;
	

}	
	

.menuspacey{
	display: flex;
	justify-content: space-around;
	width: 50%;
	text-transform: uppercase;
	
	
}
.linkspacey{
	text-decoration: none;
	color: #f17400;
}


img{
	width: 90px;
}

.logo{
	height: 100px;
}

h2	{
	font-size: 30px;
	padding: 30px;
	color: #110440;
}

/*HEADER*/

.header{
	background-image: url(background1.jpeg);
	background-size: cover;
	max-height: 800px;
	/*height: 90%;*/
	text-align: center;
	align-items: center;
	line-height:80px;
	padding: 300px 100px;
	vertical-align: middle;
	color: white;
}

.titre{
	font-size: 50px;
	font-style: bold;
	text-transform: uppercase;
}
.slogan{	
	font-size: 30px;
}

/*SOCIETE*/
#societe{
	background-color: #f1f3f4;
	text-align: center;
	margin: 0 !important;
	color: #110440;
	padding: 60px;
}

.entreprise{
	display: flex;
	justify-content: space-around;
	padding: 40px;
	margin: 0 50px;
}

.presentation{
	max-width: 500px;
	text-align: left;
	height: 400px;

}


.photo-entreprise{
	display: flex;
	justify-content: left;
	vertical-align: middle;
	padding: 30px 30px 30px 60px;
	height: 250px;
	width: 550px;
}


/*DESTINATION*/
.titre-destination{
	color: white;
	padding: 30px 0;
	font-size: 30px;
	padding: 60px ;
}
#destination{
	margin: 0;
	text-align: center;
	padding-top: 30px;
	/*background-image: url(https://trello-attachments.s3.amazonaws.com/606f16ef8c202e57259e5dd2/606f17f2f6b2e189b34e1d32/35f279a7db32983e09469d321068ebdc/background.jpg);*/
	background-image: url(background2.jpeg);
	background-repeat: no-repeat;
	height: 100%;
}

.row{
	margin: 0 40px !important;
	
}

.card-img-top{
	/*background-color: rgba(245, 245, 245, 0) !important;*/
	max-width: 150px;
	
}
.card-title{
	color: white;
}

.card-text{
	color: white;
}



/*GUIDE*/


#guide{
	background-color: #f1f3f4;
	text-align: center;
	width: 100%;
	margin: 0;
	height: 600px;
	padding: 60px;
	
}
.conseils{
	display: flex;
	justify-content: space-around;
	


}
.marginguide{
	margin: 0 15px;
	width: 25%;
}
h4{
	padding-top: 25px;
}
.picto{
	width: 100%;
	padding-top: 30px;
}

.conseils p{
	font-size: 15px;
	text-align: center;
}
.conseils img{
	width: 15%;
}

/*CONTACT*/
#contact{
	margin: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #f17400;	
	height: 650px;
}
.adresse{
	text-align:center;
	margin: 5px;
}
#footer{
	background-color: #f1f3f4;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;
	padding: 20px 15px;

}
.btn-primary{
	background-color: #110440 ! important;
   
}
.btn-secondary{
	background-color: #110440 ! important;
}
